  <div class="container">
      <div class="card single-post-card">
        <div class="card-body">
          <h4 class="card-title">{{post.topic}}</h4>
          <h5 class="card-subtitle mb-2 text-body-secondary">Created by: {{post.user.username}}</h5>
          <h5 class="card-subtitle mb-2 text-body-secondary">{{post.date}}</h5>
          <h6 class="postBody card-subtitle mb-2">{{post.post_body}}</h6>
        </div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn comment-btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add a comment
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title fs-5" id="exampleModalLabel">Add a comment...</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="commentForm">
            <div class="modal-body">
              <div class="comment-title">
                <label for="TextInput" class="form-label"></label>
                <input type="text" id="TextInput" class="newComment form-control" placeholder="Add your thoughts...">
              </div>
            </div>
            <div id="comment-submit" class="modal-footer">
              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Comment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <section>
      <div class="comment-card card">
        <h6 class="commentTitle">Comments</h6>
        <ul class="list-group list-group-flush">
        {{#each post.comments as |comment|}}
          <li class="list-group-item">
            <h6 class="comment-username">User: {{user.username}}</h6>
            <h6 class="comment-date">On: {{comment.date}}</h6>
            <p class="comment-body-text">{{comment.comment_body}}</p>
          </li>
        {{/each}}
        </ul>
      </div>
    </section>
    <script src="/js/comment.js"></script>